<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>1</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>2</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>3</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>4</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>5</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>6</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>7</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>8</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>9</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>a</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>b</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>c</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>d</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>e</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>f</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>g</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>h</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>i</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>j</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>k</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>l</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>m</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>n</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>o</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>p</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>q</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>r</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>s</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>t</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>u</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>v</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
	<key>w</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>x</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>y</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>z</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
